- @title = @answer_group.title
.written_answers
  %p= @answer_group.date

  - @answer_group.answers.each do |answer|
    .written_answer
      - answer.questions.each do |question|
        %div{:id => question.uin.downcase}
          %p
            = question_introduction(question)
          %blockquote
            = question.text
      = answering_member(answer)
      = answer.text
= link_to 'Back', answer_groups_path