<!DOCTYPE HTML>
%html
  %head
    %title Lords Q+A
    = stylesheet_link_tag "http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css"
    = stylesheet_link_tag "http://yui.yahooapis.com/2.5.1/build/assets/skins/sam/skin.css"
    = stylesheet_link_tag "screen"
  %body
    #custom-doc.yui-t7
      #hd
        %h1= @title
      #bd
        %div.yui-g
          = yield
    #ft
